## Module 4: Loading Data with Pandas 
### I saved this one because I'd like to practice my knowledge of this topic.

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [2]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1) Display the first three rows:

In [3]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) Obtain column  <code>'a'</code>:

In [4]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

3. How would you find the element in the second row and first column?

In [9]:
df.iloc[1,0]

np.int64(21)